*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f78677;
}
/*HAUT DE PAGE*/
.header{
    background-color: black;
    padding: 10px;
    gap: 20%;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
header ul li {
    margin-right: 5px; 
}
header a {
    color: #f20f0f;
    text-decoration: none;
}
.titre{
    margin-top: 5%;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
}

/*PAGE*/
.menu{
    display: flex;
    justify-content: center;
}
.menuuu{
    margin: 5% 8% 0% 5%;
    height: 50vh;
    width: 25%;
}
.entreeplatdessert{
    border: solid 5px #f20f0f;
    border-radius: 20px;
    height: 50vh;
    width: 110%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}
.burrata{
    width: 200px; 
    height: 200px;
    margin-top: 15%;
    border-radius: 20px;
    transition: 0.2s ease;
}
.burrata:hover{
    box-shadow: #ffffff 0px 0px 20px;
}
.nomplat{
    color: #f20f0f;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-size: 23px;
    padding-top: 5%;
}
.linguine{
    width: 200px; 
    height: 200px;
    margin-top: 15%;
    border-radius: 20px;
    transition: 0.2s ease;
}
.linguine:hover{
    box-shadow: #ffffff 0px 0px 20px;
}
.tiramisu{
    width: 200px; 
    height: 200px;
    margin-top: 15%;
    border-radius: 20px;
    transition: 0.2s ease;
}
.tiramisu:hover{
    box-shadow: #ffffff 0px 0px 20px;
}
.suitemenu{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.carpaccio{
    width: 200px; 
    height: 200px;
    margin-top: 15%;
    border-radius: 20px;
    transition: 0.2s ease;
}
.carpaccio:hover{
    box-shadow: #ffffff 0px 0px 20px;
}
.pizza{
    width: 200px; 
    height: 200px;
    margin-top: 15%;
    border-radius: 20px;
    transition: 0.2s ease;
}
.pizza:hover{
    box-shadow: #ffffff 0px 0px 20px;
}
.pannacotta{
    width: 200px; 
    height: 200px;
    margin-top: 15%;
    border-radius: 20px;
    transition: 0.2s ease;
}
.pannacotta:hover{
    box-shadow: #ffffff 0px 0px 20px;
}

/*BAS DE PAGE*/
.bas {
    display: flex;
    justify-content: space-evenly;
    background-color: #000000;
    padding: 2%;
    margin-top: 7%;
}
.bas a {
    color: rgb(8, 183, 8);
    text-decoration: none;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-size: 19px;
}
